main {
    color: white;
}

hr {
    border: none;
    height: 1px;
    background-color: #ffffff;
}

/* Titulo de la pagina */
.titulo-principal {
    text-align: center;
    margin: 0 auto 40px auto;
}

.titulo-principal h1 {
    color: #6fe5ff;
    font-size: 2.8em;
    margin-bottom: 10px;
    text-shadow: 0 0 15px #6fe5ff66;
    letter-spacing: 1px;
}

.titulo-principal p {
    color: #b0c4de;
    font-size: 1.1em;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
}

/* cada bloque de comandos */
.bloques {
    border-radius: 10px;
    background-color: #ffffff0d;
    border: 1px solid #ffffff1a;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    transition: background-color 0.9s;
}

.bloques:hover {
    background-color: #ffffff14;
    border: 1px solid #6fe5ff66 !important;
    /* Brillo cian en el borde al pasar el ratón */
    transform: translateY(-5px);
    box-shadow: 0 10px 25px #0000004d;
}

/*  colodel boton beta*/
.bottom-beta {
    background-color: #ff9800;
    font-size: 0.8em;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}

/*  colodel boton normal*/
.bottom-normal {
    background-color: #4CAF50;
    font-size: 0.8em;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titulo>div {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
}

/*la  descripcion debajo del titulo*/
.descripcion {
    font-size: 0.9em;
    color: #ffffffa6;
}

.descripc.titulo>div>span {
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.7);
}

/* Cambiar la fecha izq x fefecto */
/* Convertir el summary en flex para separar texto y flecha */
.flechita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* quita la flechita x defecto */
.flechita::-webkit-details-marker {
    display: none;
}

/* Dibujar la flechita */
.flechita::after {
    content: "▼";
    font-size: 0.8em;
    color: #ffffff;
    transition: transform 0.3s ease;
}

/* flechita abierta */
details[open] .flechita::after {
    transform: rotate(180deg);
    color: #6fe5ff;
}
