.navegacion {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #00000033;
    backdrop-filter: blur(10px);
    padding: 7px 0px 7px 0px;

    position: sticky;
    /* a medida que bajas el menu sigue arriba */
    top: 0px;
    /* siempre a 2px del borde superior */
    z-index: 1000;
    /* hace que el menu este por encima de todo */
}

.navegacion ul {
    /* elimina el puto punto que tienen los ul */
    list-style: none;
    padding: 0;
    align-items: center;
}

.navegacion a:hover {
    color: #6fe5ff;
}

.navegacion ul li a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}