.navegacion {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff0d;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid #ffffff1a;
    padding: 7px 0px 7px 0px;

    position: sticky;
    /* a medida que bajas el menu sigue arriba */
    top: 0px;
    /* siempre a 2px del borde superior */
    z-index: 1000;
    /* hace que el menu este por encima de todo */
}

.navegacion ul {
    /* elimina el puto punto que tienen los ul */
    list-style: none;
    padding: 0;
    align-items: center;
}

.navegacion a:hover {
    color: #6fe5ff;
}

.navegacion ul li a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

/* quita la flechita x defecto */
.navegacion summary::-webkit-details-marker {
    display: none;
}

.navegacion summary {
    list-style: none;
    /* Para Firefox y otros */
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Dibujar la flechita */
.navegacion summary::after {
    content: "▼";
    font-size: 0.7em;
    color: #ffffff;
    transition: transform 0.3s ease;
}

/* flechita abierta */
.navegacion details[open] summary::after {
    transform: rotate(180deg);
    color: #6fe5ff;
}

/* --- desplegables del navbar--- */
.navegacion details ul {
    background-color: #ffffff0d;
    border: 1px solid #ffffff1a;
    padding: 10px 0;
    margin-top: 10px;
    min-width: 150px;
    z-index: 1001;
}

.navegacion details ul li {
    padding: 8px 20px;
}
