main {
    color: #ffffff;
    text-align: justify;
}

h2 {
    margin-top: 40px;
    margin-bottom: 0px;
    color: #41b2b0;
}

li {
    list-style: none;
}

ul {
    margin-top: 5px;
}

.descripcion {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 38px;
}

.titulo {
    background-color: #032f47;
    border-radius: 10px;
    padding-bottom: 6px;
}

.chiquito {
    font-size: small;
}